@import url('https://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps&display=swap');
body {
    background: #fff;
}
body, body p {
    font-size: 16px;
    color: #333;
    font-weight: 400;
    line-height: 1.625;
    font-family: 'Oleo Script Swash Caps', cursive;
    padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
span {
    font-family: 'Oleo Script Swash Caps', cursive;
}
a, 
.comment-reply-link,
.entry-title a:hover,
.entry-title a:focus,
.main-navigation li:hover > a, 
.main-navigation li.focus > a {
	color: #f7889a;
}
a:focus,
button {
	outline: 0!important;
}
.menu-toggle:hover, .menu-toggle:focus {
    background: #f7889a;
    color: #fff;
}
.site-header-main .toggled-on.menu-toggle:before {
    color: #fff;
}
.site-header-main .menu-toggle,
.dropdown-toggle:after {
    color: #000;
}
.breadcrumb {
    margin-top: 100px;
}

/*** Top Header  ***/
.top-head {
    padding: 15px 0;
    position: relative;
    z-index: 2;
    background: #f7889a;
}
.top-head .container {
    max-width: 1170px;
    margin: 0 auto;  
    line-height: 16px; 
}
.top-head ul li a {
    line-height: 10px;
}
.top-head .top-head-widget:nth-child(1) ul li,
.top-head .top-head-widget:nth-child(2) ul li a {
    font-family: FontAwesome;
    color: #fff;
}
.top-head .top-head-widget:nth-child(1) ul li a,
.top-head .top-head-widget:nth-child(2) ul li {
    font-family: 'Oleo Script Swash Caps', cursive;
    list-style-type: none;
}
.top-head .top-head-widget:nth-child(1) ul li a {
    padding-left: 10px;
    color: #fff;
    font-size: 14px;
}
.top-head .top-head-widget:nth-child(2) ul li {
    float: right;
    margin-left: 20px;
}
.top-head-widget:nth-child(1) ul li {
    float: left;
    margin-right: 20px;
}
.top-head-widget {
    width: 50%;
    display: inline-block;
}
.top-head-widget:nth-child(1) {
    float: left;
}
.site-header .site-header-main li {
    padding: 10px 20px;
    margin-top: 12px;
}
.site-inner .site-content {
    margin-top: 70px;
}
/*** Head Menu ***/
.site-header {
    position: fixed;
    width: 100%;
    padding: 0 25px;
    background-color: #fff;
    z-index: 999;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
}
/*body:not(.home) .site-header {
    position: relative;
    background-color: #6d6969;
}*/
.top-head .top-head-widget:nth-child(2) ul li a:hover {
    cursor: pointer;
}
.site-header.is-sticky {
    max-width: 100% !important;
    position: fixed !important;
    top: 0;
    width: 100%;
    background-color: #6d6969;
}
.site-header-main .site-description {
    display: none;
}
.site-branding {
    margin-top: 10px !important;
    margin-bottom: 0 !important;
}

/*** Menu ***/
.site-header-main {
    max-width: 1170px;
    margin: 0 auto;
}
.main-navigation a {
	font-weight: 700;
	font-size: 17px;
    text-transform: capitalize;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}
.main-navigation ul ul a,
.site-header.is-sticky .main-navigation ul ul a {
    color: #000;
}
.site-header.is-sticky .main-navigation a {
    color: #fff;
}
.site-header-menu {
    margin-top: 0;
    margin-bottom: 0;
}
.site-header-menu.is-sticky {
    position: relative;
    margin: 0 auto;
    top: 0;
    z-index: 999;
    left: 0;
    right: 0;
    -webkit-transition: all 0.4s ease-in-out!important;
    -moz-transition: all 0.4s ease-in-out!important;
    -ms-transition: all 0.4s ease-in-out!important;
    -o-transition: all 0.4s ease-in-out!important;
    transition: all 0.4s ease-in-out!important;
}
.site-header-menu .primary-menu > li > a {
    color: #000;
    font-weight: 500;
    font-size: 17px;
    padding-top: 0!important;
    padding-bottom: 0!important;
    line-height: 70px;
    height: 70px;
    position: relative;
	padding-left: 10px;
    padding-right: 10px;
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -ms-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}
.site-header .site-header-menu .primary-menu > li:hover > a,
.site-header .site-header-menu .primary-menu > li.current-menu-item > a {
    color: #f7889a;
}

/*** Title ***/
.ws-title {
    margin-bottom: 10px !important;
}
.ws-title h3 {
    position: relative;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}
.ws-title h3:before,
.ws-title h3:after {
    content: '';
    width: 2px;
    height: 100%;
    background: #f7889a;
    position: absolute;
}
.ws-title h3:before {
    margin-left: -15px;
}
.ws-title h3:after {
    margin-left: 15px;
}

/*** Features ***/
.ws-features-item:hover {
    cursor: pointer;
}
.ws-features-item .elementor-image-box-img,
.ws-features-item .elementor-image-box-img img {
    width: 100%;
}
.ws-features-item .elementor-image-box-content {
    padding-left: 30px;
    padding-right: 30px;
}
.ws-features-item .elementor-image-box-img  {
    overflow: hidden;
}
.ws-features-item .elementor-image-box-img img {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}
.ws-features-item:hover .elementor-image-box-img img {
    transform: scale(1.05);
}
.ws-features-item span {
    font-size: 15px;
}

/*** Services ***/
.ws-services-item:hover {
    cursor: pointer;
}
.ws-services-item .elementor-image-box-content h3 {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}
.ws-services-item:hover .elementor-image-box-content h3 {
    color: #f7889a;
}

/*** Testimonial ***/
.ws-testimonial-item:hover {
    cursor: pointer;
}
.ws-testimonial-item > .elementor-column-wrap {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

/*** Product ***/
.woocommerce ul.products li.product {
    margin-bottom: 40px;
    border: 1px solid #eee;
}
.woocommerce ul.products li.product h2 {
    font-size: 21px !important;
    padding-bottom: 0 !important;
}
body div.woocommerce ul.products li.product span.price {
    font-size: 13px !important;
}
.woocommerce ul.products li.product:hover:before {
    transform: scale(1) !important;
}
body.woocommerce .sidebar-left-blog, body.woocommerce .sidebar-right-blog {
    display: block;
}

/*** Portfolio ***/
.ws-portfolio .premium-gallery-item {
    position: relative !important;
    left: 0 !important;
    top: 0 !important;
}
.ws-portfolio .pa-gallery-img-container {
    position: relative;
}
.ws-portfolio .pa-gallery-img.default .pa-gallery-icons-inner-container {
    top: 48%;
}
.ws-portfolio .pa-gallery-img-container:after {
    background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
    bottom: 25px;
    content: "";
    display: inline-block;
    left: 25px;
    opacity: 0;
    z-index: 2;
    pointer-events: none;
    position: absolute;
    right: 25px;
    top: 25px;
    -webkit-transform: rotate(180deg) scale(0);
    -ms-transform: rotate(180deg) scale(0);
    transform: rotate(180deg) scale(0);
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.ws-portfolio .pa-gallery-img-container:before {
    background: #f7889a none repeat scroll 0 0;
    bottom: 0;
    content: "";
    display: inline-block;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    z-index: 1;
    top: 0;
    -webkit-transform: rotate(180deg) scale(0);
    -ms-transform: rotate(180deg) scale(0);
    transform: rotate(180deg) scale(0);
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.ws-portfolio .pa-gallery-img:hover .pa-gallery-img-container:after {
    opacity: 1;
    -webkit-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
}
.ws-portfolio .pa-gallery-img:hover .pa-gallery-img-container:before {
    opacity: 0.8;
    -webkit-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
}

/*** Team ***/
.ws-team .ws-team-item:hover {
    cursor: pointer;
}
.ws-team .ws-team-item .elementor-column-wrap {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}
.ws-team-icon .elementor-social-icons-wrapper a {
    background: transparent;
}
.ws-team .ws-team-item:hover .elementor-column-wrap {
    box-shadow: 0px 0px 11px 2px rgba(163,158,163,1);
    border-color: #fff !important;
}

/*** Blog ***/
.ws-blog .premium-blog-content-wrapper {
    top: 0 !important;
    margin: 0 !important;
}
.ws-blog .premium-blog-entry-meta {
    margin-bottom: 18px;
    margin-top: 8px;
}
.post-title:hover, .nav-previous a .post-title:hover, .nav-links .nav-previous .post-title:hover,
.nav-links .nav-previous .post-title:focus, .nav-next .post-title:hover,
.post-navigation a:hover .post-title, .post-navigation a:focus .post-title, 
.ws-title h2 span, .ws-title2 h3 span  {
    color: #f7889a !important;
}
nav.post-navigation a:hover .post-title, nav.post-navigation a:focus .post-title, .ws-title h2 span, .ws-title2 h3 span {
    color: #f7889a !important;
}
.post-thumbnail img {
    width: 100%;
}

/*** Contact ***/
.wpcf7-form textarea {
    height: 150px;
    background-color: transparent;
}
.ws-contact-form .wpcf7 {
    display: inline-block;
    width: 100%;
}
.ws-contact-form p:nth-child(4),
.ws-contact-form p:nth-child(5) {
    width: 48% !important;
    float: left;
    display: inline-block;
    margin-bottom: 25px;
}
.ws-contact-form p:nth-child(4) {
    margin-right: 4%;
}
.wpcf7-submit {
    text-align: center;
    margin-top: 25px;
}
.wpcf7-form p:nth-child(7) {
    text-align: center !important;
}

/*** Woocommerce ***/
.woocommerce span.onsale, .mg-wsac-badge, .mg-wsac-btn {
    background-color: #f7889a;
} 
.elementor-widget-progress .elementor-progress-wrapper .elementor-progress-bar,
body .woocommerce a.button, body .woocommerce #respond input#submit, body  .woocommerce a.button:hover, 
body .woocommerce button.button, body .woocommerce input.button, 
body .woocommerce .widget_price_filter .ui-slider .ui-slider-range, 
body .woocommerce .widget_price_filter .ui-slider .ui-slider-handle, 
body .elementor-widget-progress .elementor-progress-wrapper .elementor-progress-bar,
.sidebar .widget-title:before, .woocommerce .widget_price_filter .ui-slider .ui-slider-range,
.form-submit input:hover,
.button.compare:hover:after, .button.yith-wcqv-button:hover:after, 
.button.tinvwl_add_to_wishlist_button:hover:after,
ul.products li.product .button.add_to_cart_button:hover:after,
.price_slider div.ui-slider-range.ui-widget-header.ui-corner-all,
.woocommerce-product-search button:hover,
.price_slider span.ui-slider-handle.ui-state-default.ui-corner-all,
.pagination .prev:hover, .pagination .prev:focus, .pagination .next:hover, .pagination .next:focus,
form#commentform .form-submit input#submit, .wpmenucartli.wpmenucart-display-standard a i {
    background-color: #f7889a !important;
}
.tinvwl-buttons-group.tinv-wishlist-clear button.button.tinvwl_button_view.tinvwl-btn-onclick,
.tinvwl-buttons-group.tinv-wishlist-clear button.button.tinvwl_button_close {
    background-color: #f7889a !important;
}
.right-border, .woocommerce-message,
.woocommerce div.product form.cart .button, .woocommerce #respond input#submit, 
.woocommerce button.button, .woocommerce input.button, .woocommerce-error, .woocommerce-info {
    border-color: #f7889a;
}
.woocommerce-message:before,
.woocommerce-error:before, .woocommerce-info:before {
    color: #f7889a;
}
ul.products li.pif-has-gallery a.woocommerce-loop-product__link:hover .wp-post-image--secondary {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transition: all .5s ease-out 0s;
    -webkit-transition: all .5s ease-out 0s;
}

/*** Footer ***/
.main-footer {
    background: #6d6969; 
}
.main-footer .columns h2 {
    color: #f7889a;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: 'Oleo Script Swash Caps', cursive;
}
.main-footer .columns,
.main-footer .columns {
    width: 25% !important;
    padding: 20px;
    text-align: left !important;
}
.main-footer .columns ul li {
    margin: 5px 10px !important;
}
.main-footer .columns:nth-child(1) img.lazyloaded {
    margin-left: -53px;
    margin-top: -3px;
}
.main-footer .columns:nth-child(2) {
    padding-left: 30px;
}
.main-footer .columns:nth-child(2) ul li {
    position: relative;
    list-style-type: none;
}
.main-footer .columns:nth-child(2) ul li:before {
    position: absolute;
    content: '\f0f4';
    font-family: FontAwesome;
    left: -25px;
    bottom: 2px;
    display: inline-block;
    color: #f2f2f2;
    font-size: 13px;
}
.main-footer .columns:nth-child(2) ul li:hover:before {
    color: #f7889a;
}
.main-footer .columns:nth-child(3) ul li:before {
    margin-left: -10px;
}
.main-footer .columns:nth-child(3) ul {
    margin-left: 3px;
}
.main-footer .columns:nth-child(3) ul li a {
    padding-left: 15px;
}
.main-footer .columns p {
    color: #ffffffd1;
    font-size: 16px;
    margin-top: 12px;  
}
.main-footer .columns:nth-child(4) .gallery {
    margin-top: 30px;
}
.main-footer .columns a {
    color: #ffffffd1;
    font-size: 16px; 
    line-height: 27px; 
    font-family: 'Oleo Script Swash Caps', cursive;
}
.site-footer {
    background: #f7889a;
}
.site-footer p {
    font-size: 16px;
    color: #000;
}

/*** Responsive ***/
@media (max-width: 1550px) {
    .ws-product-sale .ws-product-left img {
        height: 600px;
        object-fit: cover;
    }
}
@media (max-width: 1350px) {
    .ws-banner .ws-banner-item img {
        height: 400px;
        object-fit: cover;
    }
}
@media (max-width: 1113px)  {
	.ws-feature {
		margin-top: -125px !important;
	}	
}

@media (max-width: 1024px) {
    .ws-banner .ws-banner-item p {
        font-size: 30px !important;
    }
    .ws-product-left p {
        font-size: 55px !important;
    }
	.top-bar-right span,
	.top-bar-right i {
		margin-left: 10px;
	}
    body.woocommerce-page ul.products li.product:hover .button.add_to_cart_button {
        top: 20%;
        margin: 0 auto !important;
    }
}
@media (max-width: 960px) {
	body.woocommerce #primary #main {
		width: 100% !important;
	    float: none;
		margin-right: 0 !important;
	}	
	.sidebar {
	    margin-left: 0%;
		width: 100%!important;
	}
	.site-header-menu .primary-menu > li > a {
		height: 45px;
		line-height: 45px;
	}
    .site-header-menu .primary-menu > li > a:before {
        content: none;
    }
    .ws-special-product .elementor-element {
        width: 100% !important;
    }
    .site-header {
        position: relative;
        border-radius: 0 !important;
    }
    .ws-feature {
        margin-top: 0 !important;
    }
    .ws-blog-column {
        width: 100% !important;
    }
}

@media(max-width: 910px)  {
    .site-header-menu .primary-menu > li > a:after {
        content: none;
    }
	.main-navigation a {
        color: #fff;
    }
}
@media(max-width: 845px) {
    .ws-team-item {
        width: 50% !important;
    }
}

@media(max-width: 769px)  {
    .ws-feature-column,
    .ws-client-column {
        width: 50% !important;
        margin-bottom: 20px;
    }
    .ws-feature-column .elementor-image-box-wrapper {
        text-align: center !important;
    }
    .ws-product-countdown {
        padding-bottom: 50px;
    }
    .ws-blog-item .premium-blog-entry-meta {
        top: -55px;
    }
    .top-head {
        display: none;
    }
    .ws-featured-product {
        padding-bottom: 0 !important;
    }
    .ws-featured-product .ws-banner-item img {
        height: 600px !important;
        object-fit: cover;
    }
	.ws-slider-text #n2-ss-2item3::after {
		content: none;
	}
	.countdownHolder {
		padding: 20px 45px 10px;
	}
	.ws-product-left .elementor-image-box-content {
		padding: 0 80px;
	}
    .main-footer .columns {
        width: 100% !important;
    }
    .main-footer .columns:nth-child(2) {
        padding-left: 10px;
    }
    .ws-about-item {
        width: 100% !important;
    }
    article .post-thumbnail, article .entry-content p, article .entry-content a, article .entry-footer, article .entry-header {
        margin: 10px 30px !important;
    }
    body.page-template-default .post-thumbnail, body.page-template-default .entry-content p, 
    body.page-template-default .entry-content a, body.page-template-default .entry-footer, body.page-template-default .entry-header {
        margin: 5px !important;
    }
    .ws-blog .premium-blog-post-outer-container {
        position: relative !important;
        left: 0 !important;
        top: 0px !important;
        width: 100% !important;
    }
    .ws-blog .premium-blog-thumb-effect-wrapper {
        margin-bottom: 0;
    }
    .ws-blog .premium-blog-post-container,
    .ws-parallax-text, .ws-intro-big, .ws-client-big {
        width: 100% !important;
    }
    .ws-parallax-img {
        display: none;
    }
    body.woocommerce-page ul.products li.product {
        width: 46%!important;
        margin: 0 0 2.992em !important;
    }
    body.woocommerce-page .page-numbers.current {
        margin: 10px 30px;
        background: none !important;
        color: #000 !important;
    }
}
@media(max-width: 678px) {
    .ws-blog-item .premium-blog-post-container {
        width: 100% !important;
    }

	.ws-btn-slider a {
		font-size: 9px !important;
		padding: 10px 20px !important;
	}
}
@media (max-width: 480px) {
    body.woocommerce-page ul.products li.product {
        width: 100%!important;
        margin: 30px 0!important;
    }
    body.home .woocommerce ul.products li.product {
        margin-right: 0%!important;
        width: 100%!important;
    }
    .ws-contact-form p:nth-child(5),
    .ws-contact-form p:nth-child(6),
    .ws-feature-column,
    .ws-client-column {
        width: 100% !important;
    }
    .ws-team-item {
        width: 100% !important;
    }
}
@media  (min-width: 767px) and (max-width: 769px) {
	.ws-product-item.featured-product .woocommerce ul.products li.product{
		width: 100% !important;
	}	
}
/*** ****/
.footer-custom-code .widget.widget_text {
  margin: 0 !important;
  padding-bottom: 0 !important;
}
.footer-custom-code .widget.widget_text .textwidget {
  height: 0px !important;
}
.footer-custom-code .widget.widget_text {
    background: transparent;
}
.footer-custom-code .widget {
    padding: 0;
    margin: 0;
}
.site-footer p {
    margin: 0;
}
.footer-custom-code .widget.widget_text .textwidget p {
    display: none;
}