/* Mobile Portrait View */

@media screen and (max-width:479px) {

*{box-sizing:border-box;}
	#slider .top-bar { padding:0 20px; top:35px;}
	#slider .top-bar h1 { font-size:25px; padding-bottom:25px;}
	#slider .top-bar a{ font-size:14px; padding:8px 20px; margin-top:0; width:auto;}
	#header { width:100%; padding:0px 0px 5px; position:inherit !important;}
	#header .para-shaper { width:auto; border-right:none;}
	#header .pos-handle { width:100%; position:relative;}
	.logo { margin-top:-64px; text-align:center;}
	.col-md-9 { padding:0;}
	.contact-strip { display:none;}
	.container { padding:0 20px;}	
	.blogposts { width:auto; display:block; margin-bottom:30px; margin-right:0;}
	.blogposts h2 { font-size:20px !important;}
	.blogdate { width:25%;}
	.blogdate .cat, .blogdate .cat-year { font-size:15px; padding:3px 0;}
	.blogposts .author-name { width:34%;}
	.comnt { width:40%;}
	.promo-temp p { line-height:50px; font-size:30px;} 
	.promo-temp a { margin-left:0;}
	.copyright-wrapper { background-color:#f86868 !important; padding-top:10px;}
	.copyright-wrapper .inner{ width:100%;}
	.copyright-wrapper .para-foot-shaper {border-right: medium none; width: 100%; }
	.copyright-wrapper .pos-foot-handle { width:auto;}
	.copyright-wrapper .pos-foot-handle .copyright-txt, .design-by p { color:#ffffff;}
	.copyright-wrapper .pos-foot-handle .copyright-txt, .design-by p a {  color:#ffffff;}
	.sicons { width:auto;}
	.footer, .copyright { width:auto; padding:0 20px;}
	.copyright-txt, .design-by { text-align:center; width:100%;}
	
/* ------ Extra ------ */
	.one_half{ width:100%;}
	.welcome .one_half.last_column { width:auto; padding:0 10px; margin-top:10px;}
	.toggle{display:block;}
	.toggle a{width:100%; color:#ffffff; background:url(../images/mobile_nav_right.png) no-repeat right center #000000; padding:10px 10px; margin-top:20px; font-size:16px;}
	.toggle a:hover{ color:#ffffff !important;}
	.toggle a.active{color:#0bb5c7;}
	.main-nav{display:none;}
	.main-nav{float:none; margin:0; position:relative; overflow-x:hidden; }
	.main-nav ul{background:#000000; color:#000; width:100%; float:none !important; margin-left:0;}
	.main-nav ul li{border-top:1px #303030 solid; display:block; float:none; text-align:left;}
	.main-nav ul li a{padding:5px 10px; display:block; font-size:13px;}
	.main-nav ul li ul, .nav ul li ul ul{ display:block !important;}
	.main-nav ul li ul li a:before{content:"\00BB \00a0";}
	.main-nav ul li ul li a{padding-left:20px !important;}
	.main-nav ul li ul li ul li a{padding-left:30px !important;}	
	#slider .top-bar p{ display:none;}
	section{ padding:30px 0;}

/* --------- Pages ------- */
	.content-area{ width:auto; margin:0 20px; padding:50px 0;}
	.site-main{ width:auto; margin:0; padding:0; float:none;}
	h2.entry-title { font-size:20px;}
	#sidebar{ width:auto; margin:60px 0 0; padding:0; float:none;}
	.nivo-caption{ top:0 !important; width:100% !important; left:0 !important;}
	#slider .top-bar{ top:24px !important; padding-bottom:17px;}
	#slider .top-bar h2{ font-size:20px !important; padding-bottom:25px !important; line-height:20px; text-align:center; margin-top:35px;}
	#slider .top-bar a.read-more{ display:none;}
	a.contact{ margin-top:5px !important; font-size:12px !important;}
	.nivo-directionNav a{ top:40% !important;}
	.blogposts, .facts .stat{ visibility:visible;}
	h2.section-title{ margin-bottom:5px;}
}

/* Mobile Landscape View */

@media screen and (max-width:719px) and (min-width:480px) { 
	*{box-sizing:border-box;}
	#slider .top-bar { padding:0 20px; top:60px;}
	#slider .top-bar a{ font-size:18px; padding:8px 20px; margin-top:20px;}
	.nivo-caption { left:10% !important;}
	.container { width:auto; padding:0 20px;}
	#header { position:inherit !important;}
	#header .para-shaper { width:auto; border-right:none;}
	#header .pos-handle { width:100%; position:relative;}
	.logo { margin-top:-70px; float:none; text-align:center;}
	.col-md-9 { padding:0;}
	.contact-strip { display:none;}
	.blogposts { width:auto; display:block; margin-bottom:30px;}
	.blogposts .author-name { width:22%;}
	.comnt { width:30%;}
	.promo-temp p { line-height:50px; font-size:30px;} 
	.promo-temp a { margin-left:0;}
	.alignleft, img.alignleft { float:none; display:block;}
	#main-footer { padding:40px 0 30px;}
	.footer, .copyright { width:auto; padding:0 20px;}
	.copyright-wrapper { background-color:#f86868 !important; padding-top:10px;}
	.copyright-wrapper .inner{ width:100%;}
	.copyright-wrapper .para-foot-shaper {border-right: medium none; width: 100%; }
	.copyright-wrapper .pos-foot-handle { width:auto;}
	.copyright-wrapper .pos-foot-handle .copyright-txt, .design-by p { color:#fff;}
	.copyright-wrapper .pos-foot-handle .copyright-txt, .design-by p a {  color:#fff;}
	.copyright-txt, .design-by { text-align:center; float:none;}	

/* ------ Extra ------ */
	.toggle{display:block;}
	.toggle a{width:100%; color:#ffffff; background:url(../images/mobile_nav_right.png) no-repeat right center #000000; padding:10px 10px; margin-top:20px; font-size:16px;}
	.toggle a:hover { color:#0bb5c7; text-decoration:none;}
	.toggle a.active{color:#0bb5c7; text-decoration:none;}
	.main-nav{display:none;}
	#header .main-nav{float:none; margin:0; position:relative; overflow-x:hidden; }
	#header .main-nav ul{background:#000000; color:#000; width:100%; float:none !important; margin-left:0; font-size:15px !important;}
	#header .main-nav ul li{border-top:1px #303030 solid; display:block; float:none; text-align:left;}
	.main-nav ul li a{padding:5px 10px; display:block; color:#ffffff;}
	.main-nav ul li ul li a:before{content:"\00BB \00a0";}
	.main-nav ul li ul li a{padding-left:20px !important;}
	.main-nav ul li ul li ul li a{padding-left:30px !important;}
	#header .logo{ float:none;}
	#slider .top-bar p{ display:none;}
	#prevslide, #nextslide{ top:0;}
	.copyright-wrapper .inner{ width:100%;}
	.copyright{ float:none; text-align:center; }
	section{ padding:40px 0;}
/* --------- Pages ------- */
	.content-area{ width:auto; margin:0 20px; padding:50px 0;}
	.site-main{ width:auto; margin:0; padding:0; float:none;}
	#sidebar{ width:auto; margin:60px 0 0; padding:0; float:none;}
	.nivo-caption{ top:0 !important; width:80% !important; height:90%;}
	#slider .top-bar{ top:35px !important; padding-bottom:32px;}
	#slider .top-bar h2{ font-size:30px !important; padding-bottom:10px !important; line-height:35px; text-align:center; margin-top:30px}
	#slider .top-bar a.read-more{ display:none;}
	a.contact{ margin-top:5px !important; font-size:12px !important;}
	.nivo-directionNav a{ top:39% !important;}
	h2.section-title{ margin-bottom:5px;}	
}

@media screen and (max-width:899px) and (min-width:320px) { 
	.cat_comments{ height:auto;}
	#contact .column-2, #contact .column-2.last_column{ width:100%; float:none; margin:0 0 20px 0;}
	.toggle a { color:#ffffff;}
	.toggle a:hover { color:#ffffff; text-decoration:none;}
	.toggle a.active{color:#ffffff; text-decoration:none;}
	a.select { left:32%;}
}

/* Tablet View */

@media screen and (max-width:999px) and (min-width:720px) { 
	*{box-sizing:border-box;}
	.container { width:auto; padding:0 20px;}
	.pos-handle { width:95%;}
	#header .logo{float: left;  margin-right: 4%; margin-top: 13px; }
	#header .col-md-3{ width:auto;}
	#header .logo img { max-width:100%;}
	#header  .para-shaper { border-right: 37px solid transparent; border-top: 70px solid #f86868; width:32%;}
	.blogposts { width:31%; display:inline-block; margin-bottom:30px;}
	.footer, .copyright { width:auto; padding-right:20px; padding-left:0;}
	.cat_comments .cat, .cat_comments .comnt{ font-size:10px;}


/* ------ Extra ------ */
	.toggle{display:none;}	
	.main-nav{display:block !important;}
	#header .main-nav ul li a { padding-top:0px;}
	#header .main-nav ul { margin:0; padding:0; float:right;}
	#header .main-nav ul li { list-style:none; display:inline-block;  position:relative; padding-top:23px; }
	#header .main-nav ul li ul { display:none;}
	#header .main-nav ul li a { text-decoration:none; padding:0px 8px 35px; text-align:left;}
	#header .main-nav ul li a:hover { text-decoration:none; padding:0px 8px; }
	#header .main-nav ul li:hover ul {display:block; position:absolute; background-color:#000000; z-index:99; padding:5px; left:0px; top:55px; width:140px; text-align:left;}
	#header .main-nav ul li:hover ul li {display:block; padding:10px 0 10px 10px;}
	#header .main-nav ul li:hover ul li a { padding:5px; text-transform:capitalize; border-bottom:1px solid #222222; }
	.nivo-caption { left:4% !important;}
	.promo-temp { font-size:22px !important;}
	.promo-temp a { padding:10px 15px !important; margin-left:10px !important;}
/* --------- Pages ------- */
	.content-area{ width:auto; margin:0 20px; padding:50px 0;}
	.alignleft, img.alignleft { float:none; display:block;}
	.site-main{ width:60%; margin:0; padding:0; float:left;}
	#sidebar{ width:35%; margin:3% 0 0 0; padding:0; float:right;}
	.nivo-caption{ top:25% !important; height:100% !important; width:69% !important;}
	#slider .top-bar{ top:0px !important; margin-bottom:0;}
	a.read-more, .common_btn{ margin-top:2px;}
	#slider .top-bar p{ font-size:12px !important; line-height:17px !important; padding-left:0; margin-top:10px;}
	#slider .top-bar h2{ font-size:25px !important; padding-bottom:10px !important; line-height:34px;}
	#slider .top-bar h4{ font-size:17px !important;}
	a.contact{ margin-top:15px !important; font-size:18px !important;}
	.nivo-directionNav a{ top:50% !important;}
	a.select {font-size: 15px; left: 20%;}
	.contact-strip { padding-left:20px; width:100%;}
	.contact-align { width:100%;}
	.our-blog .blogposts { width:32%; margin-right:1.4%;}
	.our-blog .blogposts h2 { font-size:17px;}
	.blogposts .author-name { width:40%; font-size:12px;}
	.comnt { width:47%; font-size:12px;}
	.copyright-wrapper .inner{ width:95%; margin: auto;}
	.one_half.last_column{ margin-top:40px;}
	#main-footer, .copyright ul li, .footer-menu ul li a{ font-size:9px !important;}
	.copyright-wrapper { width:100%;}
	.copyright-wrapper .para-foot-shaper { width:41%;}
	.copyright-wrapper .pos-foot-handle { width:95%;}
	.col-sm-9{ width:73%; float:right;}
}

@media screen and (min-width: 1000px) {
	#header { width:100%;}
	#header .logo{float: left;  margin-right: 4%; margin-top: 15px; }
	#header .logo img { max-width:100%;}
	#header  .para-shaper {  border-right: 37px solid transparent; border-top: 80px solid #f86868; width: 26%;}
	#header .main-nav{ width:100%;}
	#header .main-nav ul li ul li a{color:#ffffff; display:block; padding-top:10px; padding-bottom:10px; border-bottom:1px #313131 solid; padding-right:0px !important; padding-left:10px !important;}
	.toggle a { text-decoration:none;}
	.toggle a:hover { color:#0bb5c7; text-decoration:none;}
	.toggle a.active{color:#0bb5c7; text-decoration:none;}
	a.select {font-size: 15px; left: 54px;}
	#main-footer .footer-col{ margin-right:18px; width:23%;}
	#main-footer .foot-post-thumb { float:left;}
	#main-footer .footer-col .foot-post .foot-post-content { width:70%;}
	#main-footer .foot-post-content p { line-height:normal;}
	.site-main { width:70%;}
	#slider .nivo-caption { left:10%;}
	#slider .nivo-caption .top-bar{ top:20px; margin-bottom:0;}
	#slider .nivo-caption .top-bar h4 { font-size:22px;}
	#slider .nivo-caption .top-bar h2 { padding-left:0; line-height:normal; font-size:60px;}
	#slider .nivo-caption .top-bar p{ font-size: 15px; line-height: 25px; margin-top: 0; padding-left: 6px;}
	#slider .nivo-caption .top-bar a.read-more { left:7px; margin-top:0;}
	.welcome .one_half.last_column { margin-top:10px; width:47%;}
	.container .promo-temp { font-size:29px;}
	.copyright-wrapper { width:100%;}
	.copyright-wrapper .para-foot-shaper { width:31%;}
	.copyright-wrapper .pos-foot-handle { width:95%;}
}

@media screen and (min-width:1000px) and (max-width:1159px){
	.pos-handle { width:93%;}
	.main-container .content-area { width:95%;}
	.copyright-wrapper .inner{ width:95%;}
	#slider .nivo-caption{ top:17%; height:auto;}
	.cat_comments .cat{ width:48%;}	
}